				/*SECTION_1* MAIN PAGE*/

.top_elements {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	height: 40px;
	padding-right: 40px;
}
.logo{	
	font-size: 29px;
	color: #fff;
	display: inline-block;
	padding: 20px 10px 20px 0;	
}
.number {
	vertical-align: 5px;
	color: #fff;
	border-left: 1px solid grey;	
	padding: 5px 5px 5px 15px;
	font-size: 14px;
	margin-top: 20px;
}
.top_buttons {
	border: none;
	background-color: transparent;
	font-size: 12px;
}
.main_menu {
	margin-top: 30px;
	float: right;
}
.main_menu li{	
	color: white;
	font-size: 14px;
	display: inline-flex;
	list-style-type: none;
	padding: 0 20px 30px 0;
	color: #fff;	
}
.main_menu a{
	color: white;
}
.main_menu a:hover{
	color: white;

}
.start_button {
	display: inline-block;
	float: right;
	font-family: 'Montserrat';
	font-size: 12px;
	margin-top: 23px;
	padding: 10px 20px;
	background-color: #7d8e8e;
}

			/*SECTION_2 MAIN CAPTION*/


.caption_1 {	
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 50px;
	text-align: center;
	color: #ffffff;
	margin-top: 200px;	
}
.trial_button {
font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-top: 25px;		
	border: 1px solid #6fb048;	
	border-radius: 3px;	
	font-size: 14px;
	color: #ffffff;
	background: #6fb048;
	text-transform: uppercase;
	padding: 10px;	
	display: block;
	margin: auto;
}


				/*	SECTION_3 ABOUT_US 		*/

.header_section_3 {
	width: 100%;
	height: 622px;	
}
.section_3 {
	text-align: center;
	margin: auto;
	width: 34%;
	margin-top: 105px;
}
.section_3 h1 {
	color: #0f5f5c;
	margin: 0;
}
.section_3 div {
	color: #6fb048;	
}
.section_3 p {
	color: #83a7a5;
	margin-top: 10px;
	font-weight: bold;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
	flex-direction: row;
}
.flex-container div {
	margin-top: 100px;	
	width: 300px;
	height: 200px;
	text-align: center;
}
.flex-container h1 {	
	color: #0f5f5c;
	font-size: 14px;
	font-weight: bold;
}
.flex-container p {
	font-weight: bold;
	color: #83a7a5;	
}

			/*	SECTION_4 Meet Our Team 		*/

.header_section_4 {
	width: 100%;
	height: 661px;
	background-color: #eef1ec;	

}
.section_4 {
	text-align: center;
	margin: auto;
	width: 34%;
	margin-top: 77px;
}
.section_4 h1 {
	color: #0f5f5c;
	margin: 0;
}
.section_4 div {
	color: #6fb048;
	margin-top: 0;
}
.section_4 p {
	color: #83a7a5;
	margin-top: 10px;
	font-weight: bold;	
}
.flex-container_1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
	flex-direction: row;
}
.flex-container_1 div {
	margin-top: 100px;	
	width: 300px;
	height: 200px;
	text-align: left;
	line-height: 10px;
}
.flex-container_1 h2 {	
	color: #0f5f5c;
	font-size: 14px;
	font-weight: bold;
}
.flex-container_1 p {
	font-size: 14px;
	font-weight: bold;
	color: #83a7a5;	
}


				/*SECTION_5 download*/

.section_5{	
	font-family: 'Roboto', sans-serif;
	background-image: url(background.png);
	height: 200px;
	color: #fff;	

}			
.section_5 h2{
	margin-top: 65px;
	font-weight: 300;	
	display: inline-block;
	margin-left: 100px;
}
.section_5 p{	
	line-height: 1px;	
	font-weight: 500;	
	margin-left: 100px;
}
.download_button{
	margin: 81px 100px 0 0;
	float: right;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;	
	border: 1px solid #6fb048;	
	border-radius: 3px;	
	font-size: 12px;
	color: #ffffff;
	background: #49732f;
	text-transform: uppercase;
	padding: 10px;	
	display: block;	
}

/* 				SECTION_6 About company 		*/
	
.about_company {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: space-evenly;	
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 100px;
	margin-bottom: 60px;
}
.about_company h3{
	color: #0f5f5c;
	font-weight: 600;
}
.about_company p{
	color: #83a7a5;
	font-weight: 600;
}
.about_company span {
	font-weight: 900;
	color: #0f5f5c;
}
input[type=text] {
	background-color: #eef1ec;
	border: none;
	width: 240px;
	padding: 11px 10px 10px 5px;	
	color: #83a7a5;
	font-weight: 600;
}

								/*Подвал с иконками*/
.rights {
	font-family: 'Roboto', sans-serif;	
	color: #83a7a5;
	margin-top: 3px;	
	font-weight: 500;
}

.soc_icons ul {	
	list-style-type: none;
	display: flex;
	float: right;		
} 
.soc_icons ul li a img{
	margin-left: 10px;	
}
.flex-container_2 {
	display: flex;
	justify-content: center;		
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 8px;
}


		


