body {
	margin: 0;
	padding: 0;
}

header {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	width: 100%;
	height: 200px;
	
	font-size: 36px;
}
.title {
	margin: 100px 0 100px 30px;
}
.flex-container {
	display: flex;	
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0;
	

}
.flex-container div {
	width: 300px;
	height: 300px;	
	justify-content: flex-start;
}
.flex-container img {
	transition-duration: 0.5s;
	opacity: 1;
}
.flex-container img:hover {
	opacity: 0.8;	
}

@media only screen and (max-width : 384px){
	.flex-container {
		margin-left: 0;
}


