@import "vars"

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px)
	.brain
		left: 37.5%
	.button_writing
		left: 20%	
	.button_listening
		left: 66%
	.button_reading
		left: 66%	
	#canvas
		left: 57%		
	#canvas_4
		left: 57%	

/* Medium Devices, Desktops */
@media only screen and (max-width : 1536px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 1440px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 1366px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 1280px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 414px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 375px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 360px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 320px)
	/**/


























