@import "fonts"
@import "libs"
@import "base"
@import "vars"


canvas 
  width: 300px
  height: 110px

.brain
	position: absolute
	top: 25%
	left: 39.2%

				// BUTTONS STYLE
			
.button_writing, 
.button_listening,
.button_speaking,
.button_reading		
  text-decoration: none
  outline: none
  display: inline-block
  width: 200px
  height: 45px
  line-height: 45px
  border-radius: 45px
  margin: 10px 20px
  font-family: 'Montserrat', sans-serif
  font-size: 11px
  text-transform: uppercase
  text-align: center
  letter-spacing: 3px
  font-weight: 600
  color: #524f4e
  background: white
  box-shadow: 0 8px 15px rgba(0,0,0,.1)
  transition: .3s

				// BUTTONS POSITION

.button_speaking
	position: absolute
	left: 20%
	top: 61%
.button_writing
	position: absolute		
	left: 20%
	top: 20%	
.button_listening
	position: absolute
	left: 67%
	top: 20%		
.button_reading
	position: absolute
	left: 67%
	top: 61%	

				// BUTTONS HOVER'S		

.button_writing:hover,
.button_speaking:hover,
.button_listening:hover,
.button_reading:hover    
  box-shadow: 0 15px 20px 
  color: white
  transform: translateY(-7px)

.button_writing:hover
	background: #2EE59D
	rgba(46,229,157,.4)
.button_speaking:hover
  background: #ff8080
  rgba(255,153,255,.4)   
.button_listening:hover 
  background: #ff99ff
 	rgba(255,153,255,.4) 
.button_reading:hover 
  background: #80e5ff
  rgba(255,153,255,.4)
	

				/*LINE ANIMATION*/

				// RIGHT TOP
#canvas
	position: absolute
	left: 59%
	top: 25%
				// RIGHT BOT	
#canvas_4
	position: absolute
	left: 59%
	top: 50%	
				// LEFT TOP
#canvas_2
	position: absolute
	left: 23%
	top: 25%
				// LEFT BOT
#canvas_3
	position: absolute
	left: 23%
	top: 50%

@import "media" // Всегда в конце
