
body {
  /* Location of the image */
  background-image: url(main_menu_background.png);  
  position: relative;
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646; 
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(main_menu_background.png);    
  }
}
/*
* For mobile device
*/
/* MEDIA: Large desktops and laptops */
@media (min-width: 1200px) {
	
}


/* MEDIA: Portrait tablets and medium desktops */
@media (max-width: 990px) {
  .main_menu li {
    display: none;
  }
  .start_button {
    display: none;
  }
  .caption_1 {
    font-size: 25px;
    margin-top: 80px;
  }  

/* MEDIA: Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 979px) {}

/* MEDIA: Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {}

/* MEDIA: Custom 650 */
@media (max-width: 650px) {}

/* MEDIA: Landscape phones and smaller */
@media (max-width: 460px) {
  .logo {
    font-size: 14px;
  }
  .number {
    font-size: 10px;  
    vertical-align: 2px;  
  }
  .main_menu ul{
    font-size: 10px;
    margin-top: 24px;
    margin-right: 0;
  }
  .top_buttons {  
    padding: 0;
    margin: 0;
    font-size: 10px;
  }
}

/* MEDIA: Custom 320 */
@media (max-width: 320px) {}

/* MEDIA: Custom 240 */
@media (max-width: 240px) {}